.card {
  width: 260px;
  height: 400px;
  border-radius: 25px;
  background-color: white;
  border: 0.5px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  border: 0.5px solid #616161;
}

.card_grid {
  padding: 18px 18px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_img {
  width: 100%;
  height: 150px;
  border-radius: 15px;
  margin-bottom: 15px;
  object-fit: cover;
}

.card_grid > div > div > h4 {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 15px;
}

.card_grid > div > div > p {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 14px;
}

.grid_button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button_know {
  width: 180px;
  height: 32px;
  background-color: #82955e;
  border-radius: 10px;
  color: black;
  border: none;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s, color 0.3s;
}

.button_know:hover {
  background-color: black;
  color: white;
}

.button_know:active {
  background-color: white;
  color: black;
}

.button_add {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  background-color: #d9d9d9;
  color: black;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button_add:hover {
  color: #fff;
  background-color: black;
  transform: translateY(-5px);
}

.button_add:active {
  transform: translateY(0);
}

/* @media (max-width: 500px) {
  .card {
    width: 168px;
    height: 280px;
    background-color: white;
    border: 0.5px solid #eaeaea;
  }

  .card_grid {
    padding: 10px 10px;
  }

  .card_img {
    width: 100%;
    height: 110px;
    margin-bottom: 12px;
  }

  .card_grid > div > div > h4 {
    font-size: 14px;
    margin-bottom: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .card_grid > div > div > p {
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .button_know {
    width: 105px;
    height: 28px;
    font-size: 14px;
  }

  .button_add {
    width: 28px;
    height: 28px;
  }
} */

@media (max-width: 500px) {
  .card {
    min-width: 260px;
    width: 90%;
    height: 160px;
    background-color: white;
    border: 0.5px solid #eaeaea;
    border-radius: 15px;
  }

  .card_grid {
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card_grid > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .card_img {
    width: 35%;
    height: 80px;
    margin-bottom: 12px;
  }

  .card_grid > div > div{
    width: 59%;
  }

  .card_grid > div > div > h4 {
    font-size: 14px;
    margin-bottom: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  .card_grid > div > div > p {
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .button_know {
    width: 86%;
    height: 28px;
    font-size: 14px;
  }

  .button_add {
    width: 28px;
    height: 28px;
  }
}
