.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* background-image: url("../../public/image-background-opacity.png"); */
  /* background-color: #FCF9EF; */
}

.first_section {
  padding: 100px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product_image {
  width: 48%;
  height: 70vh;
}

.product_image > img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.product_description {
  width: 48%;
}

.product_description > h1 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 48px;
}

.product_description > p {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}

.product_description > button {
  width: 80%;
  height: 45px;
  background-color: #82955e;
  border-radius: 18px;
  color: black;
  border: none;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s, color 0.3s;
}

.product_description > button:hover {
  background-color: black;
  color: white;
}

.product_description > button:active {
  background-color: white;
  color: black;
}

.second_section {
  width: 100%;
  padding-bottom: 100px;
}

.second_section > h2 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin-bottom: 30px;
}

.second_section > p {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 40px;
  text-align: center;
}

.hr {
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 100px;
}

.section_products {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcf9ef;
  border-radius: 25px;
  margin-bottom: 100px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

.grid_section_products {
  width: 95%;
}

.grid_section_products > h3 {
  font-family: "Montserrat", serif;
  font-size: 18px;
  font-weight: 600px;
  margin-bottom: 30px;
}

.grid_our_products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 30px; */
  gap: 30px;
}
